<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MPL -->
      <package
            uri="http://mdsd.edu/mpl/1.0"
            class="edu.mdsd.mpl.mpl.MPLPackage"
            genModel="model/MPL.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="edu.mdsd.mpl.validation.category"
            mandatory="true"
            name="MPL">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://mdsd.edu/mpl/1.0">
         </package>
         <constraints
               categories="edu.mdsd.mpl.validation.category">
            <constraint
                  class="edu.mdsd.mpl.validation.UniqueVariableNamesConstraint"
                  id="edu.mdsd.mpl.validation.UniqueVariableNamesConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="UniqueVariableNamesConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The variable name &quot;{0}&quot; is not unique.
               </message>
               <target
                     class="Variable">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.VariableMustHaveBeenDeclaredConstraint"
                  id="edu.mdsd.mpl.validation.VariableMustHaveBeenDeclaredConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="VariableMustHaveBeenDeclaredConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The variable &quot;{0}&quot; must have been declared before.
               </message>
               <target
                     class="VariableReference">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.ForDirectionIsValidConstraint"
                  id="edu.mdsd.mpl.validation.ForDirectionIsValidConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="ForDirectionIsValidConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The order seems to be {0}. {1} &quot;Down&quot;.
               </message>
               <target
                     class="For">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.ArityConstraint"
                  id="edu.mdsd.mpl.validation.ArityConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="ArityConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Wrong number of arguments ({0}) passed to &quot;{1}&quot;. Required is {2}.
               </message>
               <target
                     class="OperationExpression">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.UniqueOperationNamesConstraint"
                  id="edu.mdsd.mpl.validation.UniqueOperationNamesConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="UniqueOperationNamesConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The operation name &quot;{0}&quot; is not unique.
               </message>
               <target
                     class="Operation">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.ReturnOnlyInOperationsConstraint"
                  id="edu.mdsd.mpl.validation.ReturnOnlyInOperationsConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="ReturnOnlyInOperationsConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The Return statement can only be used in Functions and Procedures.
               </message>
               <target
                     class="Return">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.ReturnValueConstraint"
                  id="edu.mdsd.mpl.validation.ReturnValueConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="ReturnValueConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  This Function has to return a value.
               </message>
               <target
                     class="Return">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.ReturnNoValueConstraint"
                  id="edu.mdsd.mpl.validation.ReturnNoValueConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="ReturnNoValueConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  This Procedure must not return a value.
               </message>
               <target
                     class="Return">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.ProcedureMayOnlyBeCalledFromExpressionStatementConstraint"
                  id="edu.mdsd.mpl.validation.ProcedureMayOnlyBeCalledFromExpressionStatementConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="ProcedureMayOnlyBeCalledFromExpressionStatementConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Cannot call a procedure where a value is expected.
               </message>
               <target
                     class="OperationExpression">
               </target>
            </constraint>
            <constraint
                  class="edu.mdsd.mpl.validation.NoSideEffectsConstraints"
                  id="edu.mdsd.mpl.validation.NoSideEffectsConstraints"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="NoSideEffectsConstraints"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  This expression does not have a side effect.
               </message>
               <target
                     class="ExpressionStatement">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
